# Ignore node_modules in both frontend (client) and backend (server)
client/node_modules/
server/node_modules/

# Ignore log files
*.log

# Ignore environment variable files
.env
.env.local

# Ignore OS files
.DS_Store

# Ignore Vite cache (optional)
client/.vite/
